ceg1705_ceg2719_practical1_sol.ipynb
ceg1705_ceg2719_practical2_sol.ipynb
ceg1705_ceg2719_practical3_sol.ipynb
ceg1705_ceg2719_practical1.html
ceg1705_ceg2719_practical2.html
ceg1705_ceg2719_practical3.html
data_sol.xlsx
.ipynb_checkpoints/

